
body{font-family: "Source Sans Pro", sans-serif;}

a.nav-logo{float: right; max-width: 64px;}

.my-col{
  float: left;
  width: 100%;
}

.no-gutters{
    padding-left: 0;
    padding-right: 0;
}

.my-bg-img{
    position: absolute;
    left: 0;
    top: 64px;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.6;
}
.nopadding{padding: 0 !important;margin: 0 !important;}

.bg-white{background-color: #fff;}

.rounded-corner{border-radius: 4px;}

.m-b-0 {
    margin-bottom: 0 !important;
}

.cv-download {
    margin: 10px 0;
    font-size: 22px;
}

.panel-profile .panel-heading {
    height: 100px;
    background-size: cover;
    background-image: url(../images/background.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.panel-profile .panel-title {
    margin-bottom: 5px;
}
.template-index h5 {
    font-size: 17px;
    margin-bottom: 8px;
}
.m-b {
    margin-bottom: 15px !important;
    font-weight: 400;
    color: rgba(0,0,0,.55);
    font-size: 13px;
}
.btn-sm {
    font-size: 12px;
    padding: 5px 15px;
}
.connect-btn {
    display: inline-block;
    font-size: 16px;
    padding: 7px 24px;
    border-radius: 4px;
    color: #0084bf;
    box-shadow: inset 0 0 0 1px #0084bf, inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;
    font-weight: 500;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
}
.connect-btn:hover{
    box-shadow: inset 0 0 0 1px #0084bf, inset 0 0 0 2px #0073b1, inset 0 0 0 3px transparent;
    color: #0084bf;
}
.page-heading{font-weight: 600;}
.location{
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    color: #66696a;
}
.heading-block, .experience-block, .skills-block, .companies-list{margin-bottom: 15px}

.block-profile, .block-links, .content-block{margin-bottom: 15px;}

.additional-details, .companies-list{margin-top: 10px;}

.additional-details th{
    font-size: 11px;
    color: #999;
    padding-right: 20px;
    white-space: nowrap;
}

.additional-details td{
    font-size: 12px;
    line-height: 14px;
    color: #333;
    font-weight: normal;
}
.company-name:hover{text-decoration: none;}

.skills-block span {
    margin: 5px;
    display: inline-block;
    padding: 5px;
    background: #e6e6e6;
    border-radius: 4px;
    font-weight: 600;
}

.knowledge p{
    margin: 5px 0;
    font-size: 16px;
}

.college-name h4, .college-name p {
    margin-bottom: 0;
}

.link-block{
    background: #fff;
}

.link-block h4{
    text-align: center;
    color: #0c0;
}

.quotes{
  margin:5px auto 15px;
  background-color: #ccc;
  padding:20px;
  border-radius: 4px;
}

@media screen and (max-width:770px) {
  .block-devider{margin-bottom: 15px;}
  .page-heading{text-align: center;}
}

@media screen and (max-width: 990px){
    .content-block{padding-right: 15px;padding-left: 15px;}
}
