/*.profile-image{
    background: url("../images/background-image.jpg");
    background-size: 100%;
    background-position: 100% 0;
    height: 115px;
}

a.nav-logo{
    width: 50%;
    float: left;
    top: 25px;
    position: relative;
    max-width: 160px;
    min-width: 160px;
}


.v-head-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    background: #8eb192;
}

.nav-list {
    float: right;
}

.nav-list a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: none;
    color: #fff;
    background: #65907f;
}
.v-logo-container {
    width: 25%;
    margin: 0 20px;
}


a.nav-logo img{border-radius: 50%}
.navbar-toggle .icon-bar{background: #000}
@media only screen and (max-width: 480px){
    .profile-image{height: 165px;}
    .v-head-nav{width: 100%}
    .nav-list, .v-head-nav{float: left;}
    a.nav-logo{width: 100%;margin: 0 50%;top: 35px;}
    .v-logo-container{margin: 0;width: 50%;}

}
*/
a.nav-logo{float: right; max-width: 64px;}
.my-bg-img{
    position: absolute;
    left: 0;
    top: 64px;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.6;
}
/*.veerProfile{
    min-height: 300px;
    background: #26a69a;
}
.profileBackground{min-height: 100px}
.nopadding{padding: 0 !important;margin: 0 !important;}
.profile-background{background-image: url(../images/background.png);background-position: 100%;background-repeat: no-repeat;}
.profilePic{width: 50px;height: 50px;}

*/

.profile-background{background-image: url(../images/background.png);background-position: 100%;background-repeat: no-repeat;}
.m-b-0 {
    margin-bottom: 0 !important;
}
.panel-profile .panel-heading {
    height: 150px;
    background-size: cover;
}
.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.panel-profile .panel-title {
    margin-bottom: 5px;
}
.template-index h5 {
    font-size: 17px;
    margin-bottom: 8px;
}
.m-b {
    margin-bottom: 15px !important;
    font-weight: 400;
    color: rgba(0,0,0,.55);
    font-size: 13px;
}
.btn-sm {
    font-size: 12px;
    padding: 5px 15px;
}
.connect-btn {
    display: inline-block;
    font-size: 16px;
    padding: 7px 24px;
    border-radius: 4px;
    border: 1px solid #428bca;
    color: #428bca;
    font-weight: 500;
}
.connect-btn:hover{
    border: 2px solid #428bca;
    margin: -1px;
    color: #428bca;
} 



