<div class="section">
	<div class="container">
		<div class="row">
			<!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 veerProfile nopadding">
				<div class="row nopadding">
					<div class="col-lg-12 profileBackground nopadding">

					</div>
					<div class="container">
						<div class="col-lg-3 centered">
							<span class="col-lg-12 profilePic"></span>
						</div>
					</div>
				</div>
			</div> -->
			<div class="col-md-3">
	          <div class="panel panel-default panel-profile m-b-0">
	            <div class="panel-heading profile-background"></div>
	            <div class="panel-body text-center">
	            	<a href="#/me">
	            		<img class="panel-profile-img" src="../images/prof_pic.jpg">
	            	</a>
	              <h5 class="panel-title">Veeresh Hiremath</h5>
	              <p class="m-b">Software Engineer at Makery Labs</p>
	              <a href="https://www.linkedin.com/in/veeresh-hiremath-42b99692/" target="_blank" class="btn btn-primary-outline btn-sm m-b connect-btn">
	                <span class="icon icon-add-user"></span> Connect
	              </a>
	              <p>
	              	<a class="mail" href="mailto:veerhiremath7@gmail.com">
	              		<i class="fa fa-envelope" aria-hidden="true"></i>
	              	</a>
	              </p>
	            </div>
	          </div>
	        </div>

			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 right-block">
				<div class="col-md-12 bg-white rounded-corner heading-block">
					<div class="section">
						<h3 class="page-heading nopadding">Veeresh Hiremath</h3>
						<p class="nopadding">Software Engineer at Makery Labs</p>
						<span class="location">Bengaluru, Karnataka, India</span>
						<table class="additional-details">
							<tbody>
								<tr>
									<th>Current</th>
									<td><a class="company-name" href="https://www.linkedin.com/company/makery-labs?trk=ppro_cprof" target="_blank">Makery Labs</td>
								</tr>
								<tr>
									<th>Previous</th>
									<td>Commercekarma Bangalore</td>
								</tr>
								<tr>
									<th>Education</th>
									<td>BE (Computer Science & Engineering)</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="col-md-12 bg-white rounded-corner experience-block">
					<div class="section">
						<h3 class="page-heading nopadding">Experience</h3>
						<div class="col-md-12 companies-list">
							<h4 class="c-name nopadding">Makery Labs</h4>
							<p class="nopadding">Software Engineer</p>
							<p class="nopadding">September 2015 – Present(1 year 6 months) Bengaluru Area, India</p>
						</div>
						<hr style="border: 1px solid #eee;margin:0;float: left;width: 100%;">
						<div class="col-md-12 companies-list">
							<h4 class="c-name nopadding">Commercekarma Bangalore</h4>
							<p class="nopadding">Web Developer</p>
							<p class="nopadding">October 2014 – September 2015 (1 year)</p>
						</div>
					</div>
				</div>

				<div class="col-md-12 bg-white rounded-corner skills-block">
					<div class="section">
						<h3 class="page-heading nopadding">Skills</h3>
					</div>
				</div>

				<div class="col-md-12 bg-white rounded-corner education-block">
					<div class="section">
						<h3 class="page-heading nopadding">Education</h3>
					</div>
				</div>

				
			</div>
		</div>
	</div>
</div>