<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Template
                <small>This is the fourth card</small>
	    </div>
            
                <div class="col-lg-8 cstmquestnofday">
                        <img class="img-responsive mak-img" src="http://localhost/angularweb/img/twinkling.jpg">
                        <div class="mak-question">
                            <h3>QUESTION OF THE DAY</h3>
                            <form action="" method="post" id="dayquestn">
                                <h4>What can be done to bring about the culture of Innovation in India?</h4>
                    
                                    
                                    <div class="rad-ans">
                                        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
                                        <label for="question-1-answers-A"> Change in Education System</label>
                                    </div>
                                    
                                    <div class="rad-ans">
                                        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
                                        <label for="question-1-answers-B">Introducing Modern Infrastructure</label>
                                    </div>
                                    
                                    <div class="rad-ans">
                                        <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
                                        <label for="question-1-answers-C">Innovative Entrepreneurs</label>
                                    </div>
                                    
                                    <div class="rad-ans">
                                        <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
                                        <label for="question-1-answers-D">High End Products</label>
                                    </div>

                                    <div class="rad-ans">
                                        <input type="radio" name="question-1-answers" id="question-1-answers-E" value="E" />
                                        <label for="question-1-answers-D">Others</label>
                                    </div>

                                    <button class="btn btn-primary btncstom" type="submit">SUBMIT</button>
                        
                            </form>



                            
                        </div>
                </div>
            
            <div class="col-lg-4 right-cstmquestnofday">
                        <img class="img-responsive mak-img" src="http://localhost/angularweb/img/img1.jpg">
                </div>
    </div>
</div>
