<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="http://localhost/angularweb/img/1.jpg" alt="Chania" width="460" height="345">
        <div class="carousel-caption slidercontent">
        <div class="cntnt-oncarousel">
          <h3 class="mak-h3">Makery</h3>
          <h3><a class="mak-anch" href="#">make</a> & <a class="mak-anch" href="#"> discover</a></h3>
        </div>
            <div class="btstrpcarousel">
                <div class="mak-logo"><img src="http://127.0.0.1/angularweb/img/logo.svg" /> </div>
                    <div class="mak-form">
                        <form role="form" method="post">
                            <div class="form-group frmctrl">
                                <input type="text" placeholder="Your Name" class="form-control" id="email">
                            </div>
                            <div class="form-group frmctrl">
                                <input type="email" placeholder="Your e-mail address" class="form-control" id="email">
                            </div>
                            <div class="form-group frmctrl">
                                <input type="password" placeholder="Set a Password" class="form-control" id="pwd">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block cstmbtn">Start Making</button>
                        </form>
                        <div class="soc-signup">
                            <button class="btn btn-primary cstmsocial fb">Signup with Facebook</button>
                            <button class="btn btn-primary cstmsocial g">Signup with Google</button>
                        </div>
                    </div>
            </div>
        </div>
      </div>

      <div class="item">
        <img src="http://localhost/angularweb/img/2.jpg" alt="Chania" width="460" height="345">
        <div class="carousel-caption">
          <h3>Slide2</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>
    
      <div class="item">
        <img src="http://localhost/angularweb/img/3.jpg" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h3>Slide3</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

      <div class="item">
        <img src="http://localhost/angularweb/img/3.jpg" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h3>Slide4</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>
  
    </div>
    
</div>










<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
