<div class="container">

<div class="row">

        <div class="col-lg-12 cardthree">
            <h1 class="page-header">Template
                <small>This is the third card</small>
	    </div>
<div class="row">
    <div class="col-lg-12 cardthree">
        <div class="col-sm-4">
            <img class="img-responsive mak-img" src="http://localhost/angularweb/img/img1.jpg">
            <h2 class="mak-h2-on-img">MAKE</h2>
            <h3><button class="btn btn-primary btn-block yellow" data-toggle="modal" data-target="#myModal">I MADE SOMETHING</button></h3>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive mak-img" src="http://localhost/angularweb/img/img2.jpg">
            <h2 class="mak-h2-on-img">DISCOVER</h2>
            <h3><button class="btn btn-primary btn-block green" data-toggle="modal" data-target="#myModal">I DISCOVERED SOMETHING</button></h3>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive mak-img" src="http://localhost/angularweb/img/img3.jpg">
            <h2 class="mak-h2-on-img">INNOVATE</h2>
            <h3><button class="btn btn-primary btn-block blue" data-toggle="modal" data-target="#myModal">I INNOVATED SOMETHING</button></h3>
        </div>
    </div>
</div>

</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



